@import "tailwindcss";

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/font/Lexend-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Cabin", sans-serif;
}

@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
  }
  body * {
    visibility: hidden;
  }
  #cv-print-area,
  #cv-print-area * {
    visibility: visible;
  }
  #cv-print-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 210mm;
    line-height: 1.3;
  }
  #cv-print-area > *:first-child {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  @page {
    margin: 0;
  }
}

input[type="date"].custom-date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

input[type="date"].custom-date-input {
  position: relative;
  background-color: transparent;
}

